/* FONTS */
$font-office : 'Office-code-pro';

// Font weights, according to Mozilla's recommendations :
$font-weight-light    : 300;
$font-weight-regular  : 400;
$font-weight-medium   : 500;
$font-weight-bold     : 700;

//Font sizes
$h1: 25px;
$p : 20px;

/* COLORS */
$black: #010101;
$white: #F1F1F1;

/* PADDING */
$padding-h1: 50px;
$padding-p: 20px;