// {Map} - Contains the definitions for every breakpoint
$gr-breakpoints: (
  // {Map} - The key is used as a breakpoint identifier (breakpoint-name) and has to be unique
  s: (
    // {Number|null} - Minimum screen width for this breakpoint
    min: null,
    // {Number|null} - Maximum screen width for this breakpoint
    max: 600px,
    // {Number} - Space between columns
    gutter: 12px,
    // {Number} - Number of columns to use (how many columns have to fit in one row)
    columns: 12,
    // {Map} - Wrapping container definitions
    container: (
      // {Number|null} - The maximum width
      max-width: 100%,
      // {Number|null} - Container padding
      padding: 30px
    )
  ),
  m: (
    min: 601px,
    max: 1000px,
    gutter: 24px,
    columns: 12,
    container: (
      max-width: 768px,
      padding: 20px
    )
  ),
  l: (
    min: 1001px,
    max: null,
    gutter: 20px,
    columns: 12,
    container: (
      max-width: 1440px,
      padding: 16px
    )
  )
);