@include gr-build-classes((
  prefix: true,
  suffix: false,
  push: false,
  pull: false,
  row-full: true,
  row-reverse: true,
  hide-show: true,
  order: false,
  align: true,
  no-gutter: true
));

.gr-container {
  margin: 0 auto;
}
