section.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    div.project {
      margin: $margin-30;
      width: 600px;

      p {
        width: 500px;
        font-weight: $font-weight-light;
        font-size: $font-size-15;
      }

      img {
        width: 500px;
        height: 283px;
        margin-top: $margin-10;
        margin-bottom: $margin-20;
      }

      a {
        display: block;
        margin: $margin-20 0;
      }
    }
  }
}

@media screen and (max-width: $screen-m) {
  section.projects {
    div.projects {
      div.project {
        width: 400px;

        p {
          width: 400px;
          height: auto;
        }

        img {
          width: 400px;
          height: 225px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xxs) {
  section.projects {
    div.projects {
      div.project {
        width: 300px;

        p {
          width: 300px;
          height: auto;
        }

        img {
          width: 300px;
          height: auto;
        }
      }
    }
  }
}