header.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1.title {
    margin: $margin-50;
    font-weight: $font-weight-bold;
    font-size: $font-size-25;
  }

  p.description {
    margin: $margin-20;
    font-weight: $font-weight-medium;
    font-size: $font-size-20;
    line-height: 25px;
  }

  img.profile-picture {
    margin: $margin-20;
    filter: $black-white;
  }
}