section.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.description {
    text-align: center;

    p {
      margin: $margin-10;
    }
  }

  div.skills {
    display: flex;
    flex-direction: column;
  }
}